name: ci
on: push
jobs:
  build:
    name: ci
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - windows-latest
        - macos-latest
    steps:
      - uses: actions/setup-go@v2
        with: { go-version: ^1.14 }
      - uses: actions/checkout@v2
      - run: go test
      - run: go build -o edit
      - uses: softprops/action-gh-release@v1
        if: "startsWith(github.ref, 'refs/tags/v')"
        env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
         files: |
           edit-${{ matrix.os }}-${{ github.ref }}